
body {
	font-family: 'Poppins' ;
	background-color: #002147 ;
	display: outside;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;

}

.box h1 {
	margin: auto;
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  position:sticky;
  table-layout: auto;
  overflow: auto;

}
th{
  background: #E5E5E5;
  padding: 10px;
  border: none;
  width: 30%;
  height: 30%;
}

td{
  padding: 10px;
  border: none;
  color: #FFFFFF;
}

tr:hover {background-color: #5FD58C;}

.btn {
	border-radius: 2px;
	color: #FFFFFF;
  background: #002147;

}

.btn.btn-success{
  background: #002147;
  border-radius: 5px;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

fieldset {
  border: none;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  width: 190px;
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
}

#type {
  width: 100%;
}

#proof {
  align-self: flex-end;
  margin-top: 20px;
}
.dropdown {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #5FD58C;
  color: white;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  z-index: 2; /* set a higher z-index value */
  text-align: center;
  padding: 10px;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Poppins' ;
	background-color: #002147 ;
	display: outside;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
.full-page
{
  height: 100%;
	width: 100%;
	background-color: #002147;
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: white;
    /*font-size: 28px;*/
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:white;
	padding:10px;
    overflow: scroll;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 0 2px #002147;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: aqua;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    color:black;
}
.submit-btn
{
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #0062ff;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:black;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:black;
	font-size: 15;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #5fd58c;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.content span{
    color: #5FD58C;
    font-size: 65px
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #5FD58C;
    color: white;
  }
  
  .bottom-bar {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 2; /* set a higher z-index value */
    text-align: center;
    padding: 10px;
}
